* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*cabecera*/
header {
  background-color:#ecf6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
}

#logo {
  width: 70px;
  display: flex;
  align-self: center;

}

li {
  padding: 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;

}

li a:hover {
  color: white;

}
#home a:hover{
  color: white;
}
/*banner*/
#banner {
  height: 300px;
  width: 100%;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ecf6ff;
  align-items: center;
}

.section1 {
  background-color: rgb(195, 247, 247);
  width: 80%;


}

h2 {
  text-align: center;
  font-style: normal;
  padding: 5px;
  background-color: #ecfdff;
}


td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  flex-direction: column;
}

.especialidad {
  width: 20%;
  text-align: center;
  font-size: 20px;
}

.nombre {
  width: 20%;
  text-align: center;
  font-size: 15px;
}

.imagen {
  width: 15%;
  text-align: center;

}

.detalle {
  width: 50%;
  text-align: center;
  font-size: 20px;
}

.turnos {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color:  rgb(195, 247, 247);
  margin-top: 2%;
  margin-bottom: 2%;
}

.turnos td {
  text-align: center;
}

/*Especialidades*/
.tipo li{
  
  display: flex;
  background-color: rgb(195, 247, 247);
  border: 1px solid #ddd;
  padding: 8px;

 
}
.tipo ul{
  
  list-style-type: disc; /* Círculos */
  flex-direction: column;
  

 
}

.contacto {

  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

form {
  background-color: rgb(195, 247, 247);
  display: flex;
  flex-direction: column;
  width: 60%;

}
label{
  margin: 0.5%;
}
input{
  padding: 1%;
}
input[type="submit"],input[type="reset"]{
  width: 40%;
  align-self: center;
  margin: 1%;
}
footer{
  background-color:#ecf6ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
